html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;

}

@media only screen and (min-width: 406px) and (max-width: 1170px) {}
#monkey {
    right: 0;
    top: 0;
  }
}

/* Write your solution here */

